head
link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
style.
    .d{
        background-color: #f7e7f8;
        border:2px solid #f1d9e7;
        width:500px;
        height:"fit-content";
    }
    body,.c{
        background-color: #563d7c;
    }
    .c{
        color:#fff;
    }
    .c:hover{
        color:#fff;
    }
    h3{
        color:#563d7c;
        text-align:center;
    }
a(href="/back").c.ms-3
    svg.bi.bi-house-door(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewbox='0 0 16 16').mt-2
        path(d='M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z')
div.d.mx-auto.rounded.shadow.my-auto.p-4.px-5
    h3.mb-4 Add Food Item
    div.d2
        form(action='/addingfood' method='post' enctype="multipart/form-data")
            input(type='text' placeholder='Name of the food' name='foodname').form-control
            br
            input(type='text' placeholder='service capacity' name='capacity').form-control
            br
            input(type='text' placeholder='Price' name='price').form-control
            br
            input(type='text' placeholder='Remarks' name='remarks').form-control
            br
            input(type='text' placeholder='Location' name='location').form-control
            br
            div.d-flex
                p.mt-3 Delivery Type : 
                select(name='delivery').form-select.ms-3(style="width:200px")
                    option(value='takeaway') Takeaway
                    option(value='home deliver') Home Delivery
            br
            p upload image:  
                input(type='file' name='foodimage' accept="images/*" multiple)#formFileMultiple
            button.btn.c ADD FOOD
            br